<html>
<head>
	<title></title>
</head>
<body>
	<div id='menu'>
		<a href="">Profile</a>
		<a href="">Discover</a>
		<a href="/pictures/new">Pictures</a>
		<a href="">Events</a>
		<a href="">Calendar</a>
	</div>
	<div id='activities'>


	</div>
</body>
</html>