<html>
<head>
	<title></title>
</head>
<body>
	 <a href="/users/sign_out" data-method="delete">Log Off</a>
	<div id='menu'>
		<a href="">Profile</a>
		<a href="/events/all">Discover</a>
		<a href="/pictures/new">Pictures</a>
		<a href="">Events</a>
		<a href="">Calendar</a>
	</div>
	<div id='activities'>


	</div>
</body>
</html>